body {
    font-family: 'Syne', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.logo img {
    height: 50px;
}

nav {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00aaff;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 0;
    list-style: none;
    text-align: left;
    border-radius: 5px;
    min-width: 220px;
    z-index: 1000;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul li a {
    color: #000000;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul ul li a:hover {
    color: #00aaff;
    background-color: #ffffff;
}

.icon-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.icon-links li {
    margin: 0 10px;
}

h1, p {
    color: #000000;
}

a {
    color: #000000;
    transition: color 0.3s ease;
}

a:hover {
    color: #000000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
